# For Intellij, I have added the below ignore lines
.idea
Algorithm_Analysis
Linear_Data_Structure
Search_Trees
Sorting
AdvancedDesignAndAnalysis
Graphs
MemoryManagement
TextProcessing
Languages
Intractability_Computing
out
target/
*iml

*.dat